# Ejemplo de .env
GOOGLE_APPLICATION_CREDENTIALS=/home/user/credentials.json
DEFAULT_CALENDAR_ID=your_calendar_id@group.calendar.google.com
TWILIO_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
